### Command "<%=  cmdInfo.commandName.trim() %>"

Source: [<%=cmdInfo.relativeFilePath %>](<%=cmdInfo.relativeFilePath %>)

Description

```text
<%- cmdInfo.description %>
```

Produces: <%  cmdInfo.events.forEach( (e) => { -%>
**[<%= e.eventName %><%= e.restricted ? " (restricted)":"" %>](#event-<%= e.eventName %>)**, <% })%>


<details>
<summary>Schema</summary>
<p>

```json
<%- JSON.stringify(cmdInfo.schema, null, 4)%>
```

</p>
</details>


